<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goalTxt</key>
		<string>6</string>
		<key>goal</key>
		<integer>6</integer>
		<key>fallingSpeed</key>
		<integer>4</integer>
		<key>enemySpawnDelay</key>
		<integer>3</integer>
		<key>levelType</key>
		<string>normal</string>
		<key>spawnDirection</key>
		<string>leftToRight</string>
		<key>amountToKill</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>goal</key>
		<integer>15</integer>
		<key>goalTxt</key>
		<string>15</string>
		<key>fallingSpeed</key>
		<integer>6</integer>
		<key>enemySpawnDelay</key>
		<integer>3</integer>
		<key>levelType</key>
		<string>normal</string>
		<key>spawnDirection</key>
		<string>rightToLeft</string>
		<key>amountToKill</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>goal</key>
		<integer>25</integer>
		<key>goalTxt</key>
		<string>25</string>
		<key>fallingSpeed</key>
		<integer>4</integer>
		<key>enemySpawnDelay</key>
		<real>2.8</real>
		<key>levelType</key>
		<string>normal</string>
		<key>spawnDirection</key>
		<string>leftToRight</string>
		<key>amountToKill</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>bulletSpeed</key>
		<integer>5</integer>
		<key>maxRandom</key>
		<integer>15</integer>
		<key>minRandom</key>
		<integer>3</integer>
		<key>numberOfRows</key>
		<integer>3</integer>
		<key>goalTxt</key>
		<string>נסה לא למות</string>
		<key>levelType</key>
		<string>static</string>
		<key>row1</key>
		<integer>7</integer>
		<key>row2</key>
		<integer>5</integer>
		<key>row3</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>attackDelay</key>
		<integer>5</integer>
		<key>goalTxt</key>
		<string>נסה לא למות</string>
		<key>levelType</key>
		<string>boss</string>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>HP</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>goal</key>
		<integer>30</integer>
		<key>goalTxt</key>
		<string>30</string>
		<key>fallingSpeed</key>
		<integer>4</integer>
		<key>enemySpawnDelay</key>
		<integer>3</integer>
		<key>levelType</key>
		<string>normal</string>
		<key>spawnDirection</key>
		<string>startRandom</string>
		<key>amountToKill</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>goal</key>
		<integer>45</integer>
		<key>goalTxt</key>
		<string>45</string>
		<key>fallingSpeed</key>
		<integer>3</integer>
		<key>enemySpawnDelay</key>
		<real>2.6</real>
		<key>levelType</key>
		<string>normal</string>
		<key>spawnDirection</key>
		<string>rightToLeft</string>
		<key>amountToKill</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>goal</key>
		<integer>60</integer>
		<key>goalTxt</key>
		<string>60</string>
		<key>fallingSpeed</key>
		<real>2.9</real>
		<key>enemySpawnDelay</key>
		<real>2.4</real>
		<key>levelType</key>
		<string>normal</string>
		<key>spawnDirection</key>
		<string>allRandom</string>
		<key>amountToKill</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>bulletSpeed</key>
		<integer>3</integer>
		<key>maxRandom</key>
		<integer>15</integer>
		<key>minRandom</key>
		<integer>3</integer>
		<key>numberOfRows</key>
		<integer>3</integer>
		<key>goalTxt</key>
		<string>נסה לא למות</string>
		<key>levelType</key>
		<string>static</string>
		<key>row1</key>
		<integer>7</integer>
		<key>row2</key>
		<integer>5</integer>
		<key>row3</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>attackDelay</key>
		<integer>2</integer>
		<key>goalTxt</key>
		<string>נסה לא למות</string>
		<key>levelType</key>
		<string>boss</string>
		<key>attackSpeed</key>
		<integer>1</integer>
		<key>HP</key>
		<integer>200</integer>
	</dict>
</array>
</plist>
